* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  /* animation: animateBg 5s linear infinite; */
}

/* @keyframes animateBg {
  100% {
      filter: hue-rotate(360deg);
  }
} */

.body-color2 {
  background-color: #194569;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 80px 90px;
  border-radius: 30px;
  text-align: center;
  color: #cadeed;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  max-width: 650px;
  width: 100%;
  background-color: #cadeed;
  align-items: center;
}

.login-box h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login-box p {
  margin-bottom: 25px;
  font-size: 1.1rem;
  color: #000000;
}

.logo {
  display: block;
  margin: 0 auto 20px; 
  width: auto; 
  max-width: 100%; 
  height: auto;
}

.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box label {
  margin-bottom: 8px;
  font-size: 0.9rem;
  text-align: left;
}

.login-box input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px; /* Slightly rounded input fields */
  font-size: 1rem;
  width: 100%;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  background-color: rgba(255, 255, 255, 0.15);
  color: #000000;
  background-color: aliceblue;
}

.login-box input[type="email"]::placeholder,
.login-box input[type="password"]::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-box button {
  background-color: #5f84a2;
  color: white;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  text-align: center;
}

.login-box button:hover {
  background-color: #91aec4;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-box {
    padding: 30px 20px;
  }
}
