/* Font sourced from Google Fonts: Poppins - https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --color-main: #003f91;
    --color-light: #f5f5f5;
    --color-dark: #1a1a1a;
    --color-accent: #8da2fb;
    --color-sidebar-bg: #d1b4c6;
    --color-sidebar-text: #000000;
  }  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    background-color: #194569;
}

.login-container {
    background-color: #cadeed;
    border-radius: 20px;
    padding: 50px 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-container img {
    max-width: 150px;
    margin-bottom: 20px;
}

.login-container h2 {
    font-size: 24px;
    font-weight: 600;
    color: #194569;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    background-color: #f9f9f9;
}

.login-container button {
    background-color: #194569;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.login-container button:hover {
    background-color: #143d5a;
}

.login-container a {
    color: #194569;
    font-size: 14px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.login-container a:hover {
    text-decoration: underline;
}

.additional-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.additional-links a {
    font-size: 14px;
}